.iti__flag {
    background-image: url("../img/flags.png");
}

.intl-tel-input.separate-dial-code .selected-flag,
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
    background-color: transparent;
}

.intl-tel-input .selected-flag .iti-arrow {
    right: -10px;
}

.intl-tel-input.allow-dropdown input {
    padding-left: 100px !important;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("../img/flags.png");
    }
}

.caption-wrapper .made-by-wrapper .doctor-small .doctor-name {
    width: 50px;
}

.filter-yellow {
    filter: invert(62%) sepia(94%) saturate(4546%) hue-rotate(195deg) brightness(101%) contrast(102%);


}



.doctor-description p {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 1.35vw
        /* 31/19.2 */
    ;
    letter-spacing: -0.08em;
    color: #50595c;
    word-spacing: 3px;
}

.service-item .service-info p {
    display: block;
    font-weight: 300;
    font-size: 1.615vw
        /* 31/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 2.24vw
        /* 43/19.2 */
    ;
    color: #50595c;
}

ul.services-list li.service-item .service-img {
    max-height: 750px;
}

.article-img img {
    width: 100%;
}

.category-header {
    z-index: 20;
}

ul.top-news-list li.top-news-item .post-info .post-footer .post-date {
    letter-spacing: 0px;
    font-size: 10px;
}

.gallery-row .gallery-column .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    padding: 2px;
}


.teeth-before-after:before {
    content: '';
    position: absolute;
    top: 1.5625vw
        /* 30/19.2 */
    ;
    right: 1.5625vw
        /* 30/19.2 */
    ;
    background: url(../images/Asnan-logo.svg) center no-repeat;
    background-size: contain;
    width: 3vw
        /* 57.6/19.2 */
    ;
    height: 2.115vw
        /* 40.6/19.2 */
    ;
    z-index: 2;
}

.ba-slider img {
    display: block;
    max-width: none;
    height: 100%;
    object-fit: cover;
}


/*OUR TEAM*/

.doctor-description ul {
    list-style: initial;
    margin: revert;
    padding: revert;
}

.doctor-description ul li,
.doctor-description ol li {
    position: relative;
    display: block;
    font-weight: 300;
    font-size: 1.25vw
        /* 24/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 1.771vw
        /* 34/19.2 */
    ;
    color: #50595c;
    padding-left: 1.5625vw
        /* 30/19.2 */
    ;
    margin-bottom: 0.521vw
        /* 10/19.2 */
    ;
}

.doctor-description ul li:before {
    content: '';
    position: absolute;
    top: 0.365vw
        /* 7/19.2 */
    ;
    left: 0;
    background: url(../images/Bullets.svg) center no-repeat;
    background-size: contain;
    width: 0.729vw
        /* 14/19.2 */
    ;
    height: 0.833vw
        /* 16/19.2 */
    ;
}



/*END OUR TEAM*/




.floor-wrapper .bg-img img {
    width: 100%;
    object-fit: cover;
}

ul.instructions-list li.instruction-item .instruction-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar .dropdown.dropdown-mega .dropdown-menu .services-menu .service-item .service-info .service-text,
.navbar .dropdown.dropdown-mega .dropdown-menu .services-menu .service-item .service-info .service-text2 {
    display: block;
    font-weight: 500;
    font-size: 0.625vw
        /* 12/19.2 */
    ;
    letter-spacing: -0.1em;
    color: white;
    width: 8vw;
    line-height: 1.25;
}

.article-wrapper p,
.service-text {
    font-weight: 300;
    font-size: 1.615vw
        /* 31/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 2.24vw
        /* 43/19.2 */
    ;
    color: #50595c;
    word-spacing: 3px;
}

.asnanopedia-article .title {
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 2.083vw
        /* 40/19.2 */
    ;
    letter-spacing: -0.05em;
    line-height: 1.667vw
        /* 32/19.2 */
    ;
    color: #50595c;
    padding-bottom: 1.042vw
        /* 20/19.2 */
    ;
    margin-bottom: 2.083vw
        /* 40/19.2 */
    ;
}

.asnanopedia-article .title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10.417vw
        /* 200/19.2 */
    ;
    height: 0.208vw
        /* 4/19.2 */
    ;
    border-radius: 0.104vw
        /* 2/19.2 */
    ;
    background: var(--color-secondary);
}


.asnanopedia-article .brief {
    font-weight: 300;
    font-size: 1.8vw
        /* 31/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 2.5vw
        /* 43/19.2 */
    ;
    color: #50595c;
    word-spacing: 3px;
}



.asnanopedia-article p {
    font-weight: 300;
    font-size: 1.35vw
        /* 31/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 2.24vw
        /* 43/19.2 */
    ;
    color: #50595c;
    word-spacing: 3px;
}

.asnanopedia-article h4 {
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 2.083vw
        /* 40/19.2 */
    ;
    letter-spacing: -0.05em;
    line-height: 3vw
        /* 32/19.2 */
    ;
    color: #50595c;
    padding-bottom: 1.042vw
        /* 20/19.2 */
    ;
    margin-bottom: 2.083vw
        /* 40/19.2 */
    ;
    margin-top: 2.083vw
        /* 40/19.2 */
    ;
}

.asnanopedia-article ul,
.instruction-text ul {
    list-style: initial;
    margin: revert;
    padding: 5px;
}



.asnanopedia-article ul li,
.asnanopedia-article ol li,
.instruction-text ul li,
.instruction-text ol li {
    position: relative;
    display: block;
    font-weight: 300;
    font-size: 1.25vw
        /* 24/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 1.771vw
        /* 34/19.2 */
    ;
    color: #50595c;
    margin-bottom: 0.521vw
        /* 10/19.2 */
    ;
}

.asnanopedia-article ul li:before,
.instruction-text ul li:before {
    content: '';
    position: absolute;
    top: 0.365vw
        /* 7/19.2 */
    ;
    left: -30px;
    background: url(../images/Bullets.svg) center no-repeat;
    background-size: contain;
    width: 0.729vw
        /* 14/19.2 */
    ;
    height: 0.833vw
        /* 16/19.2 */
    ;
}

.asnanopedia-article-new ul li:before {
    content: '';
    position: absolute;
    top: 0.365vw
        /* 7/19.2 */
    ;
    left: 692px;
    background: url(../images/Bullets.svg) center no-repeat;
    background-size: contain;
    width: 0.729vw
        /* 14/19.2 */
    ;
    height: 0.833vw
        /* 16/19.2 */
    ;
}

/*Department */
.department-info-wrapper {
    top: -10vw;
    margin: 0px;
    padding-bottom: 200px;
}

.department-info {
    margin-top: 40vw;
}


/*Department */

/*Specialities */

.specialities-wrapper {
    margin-top: 10vw;
}

.category-header .speciality-block {
    display: block;
    align-items: center;
    justify-content: flex-start;
}

.category-header .speciality-block .category-icon img {
    width: 100%;
    object-fit: contain;
}

.specialities .category-title {
    font-size: 2.5vw !important;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 4vw
        /* 32/19.2 */
    ;
    color: #50595c;
}

.specialities-wrapper .category-icon {

    min-width: 7.5vw !important;
    width: 7.5vw !important;
    display: inline-block;
    min-width: 13.177vw
        /* 253/19.2 */
    ;
    width: 13.177vw
        /* 253/19.2 */
    ;

}

/* END Specialities*/


/*Speciality Services*/
.speciality-services-article .title {
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 2.083vw
        /* 40/19.2 */
    ;
    letter-spacing: -0.05em;
    line-height: 1.667vw
        /* 32/19.2 */
    ;
    color: #50595c;
    padding-bottom: 1.042vw
        /* 20/19.2 */
    ;
    margin-bottom: 2.083vw
        /* 40/19.2 */
    ;
}

.speciality-services-article .title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10.417vw
        /* 200/19.2 */
    ;
    height: 0.208vw
        /* 4/19.2 */
    ;
    border-radius: 0.104vw
        /* 2/19.2 */
    ;
    background: var(--color-secondary);
}


.speciality-services-article .brief {
    font-weight: 300;
    font-size: 1.8vw
        /* 31/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 2.5vw
        /* 43/19.2 */
    ;
    color: #50595c;
    word-spacing: 3px;
}



.speciality-services-article p {
    font-weight: 300;
    font-size: 1.35vw
        /* 31/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 2.24vw
        /* 43/19.2 */
    ;
    color: #50595c;
    word-spacing: 3px;
}

.speciality-services-article h4 {
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 2.083vw
        /* 40/19.2 */
    ;
    letter-spacing: -0.05em;
    line-height: 3vw
        /* 32/19.2 */
    ;
    color: #50595c;
    padding-bottom: 1.042vw
        /* 20/19.2 */
    ;
    margin-bottom: 2.083vw
        /* 40/19.2 */
    ;
    margin-top: 2.083vw
        /* 40/19.2 */
    ;
}

.speciality-services-article ul {
    list-style: initial;
    margin: revert;
    padding: 5px;
}

.speciality-services-article ul li,
.asnanopedia-article ol li {
    position: relative;
    display: block;
    font-weight: 300;
    font-size: 1.25vw
        /* 24/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 1.771vw
        /* 34/19.2 */
    ;
    color: #50595c;
    padding-left: 1.5625vw
        /* 30/19.2 */
    ;
    margin-bottom: 0.521vw
        /* 10/19.2 */
    ;
}

.speciality-services-article ul li:before {
    content: '';
    position: absolute;
    top: 0.365vw
        /* 7/19.2 */
    ;
    left: 0;
    background: url(../images/Bullets.svg) center no-repeat;
    background-size: contain;
    width: 0.729vw
        /* 14/19.2 */
    ;
    height: 0.833vw
        /* 16/19.2 */
    ;
}

.speciality-services-article .article-img {
    display: block;
    width: 36.40625vw
        /* 699/19.2 */
    ;
    max-width: 100%;
    border-radius: 5.208vw 5.208vw 5.208vw
        /* 100/19.2 */
        10.9375vw
        /* 210/19.2 */
    ;
    height: auto;
    overflow: hidden;
}

.speciality-services-article .article-img img {
    width: auto;
    max-width: 100%;
    height: auto;
    min-height: 400px;
    object-fit: cover;
}

/* END Speciality Services*/


.caption-wrapper .made-by-wrapper .doctor-small {
    min-height: 100px;
    min-width: 100px;
}

.carousel-control-prev {
    left: -100px;
}

.carousel-control-next {
    right: -100px;
}



.news-article .title {
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 2.083vw
        /* 40/19.2 */
    ;
    letter-spacing: -0.05em;
    line-height: 1.667vw
        /* 32/19.2 */
    ;
    color: #50595c;
    padding-bottom: 1.042vw
        /* 20/19.2 */
    ;
    margin-bottom: 2.083vw
        /* 40/19.2 */
    ;
}

.news-article .title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10.417vw
        /* 200/19.2 */
    ;
    height: 0.208vw
        /* 4/19.2 */
    ;
    border-radius: 0.104vw
        /* 2/19.2 */
    ;
    background: var(--color-secondary);
}


.news-article .brief {
    font-weight: 300;
    font-size: 1.8vw
        /* 31/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 2.5vw
        /* 43/19.2 */
    ;
    color: #50595c;
    word-spacing: 3px;
}



.news-article p {
    font-weight: 300;
    font-size: 1.35vw
        /* 31/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 2.24vw
        /* 43/19.2 */
    ;
    color: #50595c;
    word-spacing: 3px;
}

.news-article h4 {
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 2.083vw
        /* 40/19.2 */
    ;
    letter-spacing: -0.05em;
    line-height: 3vw
        /* 32/19.2 */
    ;
    color: #50595c;
    padding-bottom: 1.042vw
        /* 20/19.2 */
    ;
    margin-bottom: 2.083vw
        /* 40/19.2 */
    ;
    margin-top: 2.083vw
        /* 40/19.2 */
    ;
}

.news-article .article-wrapper ul {
    list-style: initial;
    margin: revert;
    padding: revert;
}

ul.top-news-list li.top-news-item .post-info .post-footer {
    display: block;
    line-height: 12px;
}

.news-article ul li,
.news-article ol li {
    position: relative;
    display: block;
    font-weight: 300;
    font-size: 1.25vw
        /* 24/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 1.771vw
        /* 34/19.2 */
    ;
    color: #50595c;
    padding-left: 1.5625vw
        /* 30/19.2 */
    ;
    margin-bottom: 0.521vw
        /* 10/19.2 */
    ;
}

.news-article .article-wrapper ul li:before {
    content: '';
    position: absolute;
    top: 0.365vw
        /* 7/19.2 */
    ;
    left: 0;
    background: url(../images/Bullets.svg) center no-repeat;
    background-size: contain;
    width: 0.729vw
        /* 14/19.2 */
    ;
    height: 0.833vw
        /* 16/19.2 */
    ;
}

.tags-wrapper ul.tags-list {
    padding: 0;
}

/*NAVBAR MEGA MENU*/

.navbar {
    transition: none;
}

.navbar.activeMegaMenu:before,
.navbar.activeMegaMenu:after {
    transition: none;
}

.navbar .top-content .switch-lang a {
    font-size: 1.5vw;
}

.testimonial-item .testimonial-user .user-img {
    width: 50px;
    height: auto
}

.testimonials-wrapper .splide__track--nav>.splide__list>.splide__slide {
    width: 17.083vw
        /* 328/19.2 */
        !important;
    height: 12.5vw
        /* 152/19.2 */
        !important;

}

.testimonials-block .testimonial-img img,
.testimonials-wrapper .splide__track--nav>.splide__list>.splide__slide img {
    object-fit: cover;
    object-position: top;
}

.testimonials-footer {
    margin-bottom: 0
}

.side-wrapper .services-menu .service-item .service-info .service-text {
    color: white;
    font-size: 10px;

}

.doctor-description .doctor-title {
    margin: 0px;
}

.doctor-description .doctor-name {
    font-weight: bold;
}

.character-content p {
    font-weight: 300;
    font-size: 1.35vw
        /* 31/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 2.24vw
        /* 43/19.2 */
    ;
    color: #50595c;
    word-spacing: 3px;
}

ul.why-asnan .service-description ul li {
    position: relative;
    display: block;
    font-weight: 300;
    font-size: 1vw
        /* 24/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 1.771vw
        /* 34/19.2 */
    ;
    color: #50595c;
    padding-left: 1.5625vw
        /* 30/19.2 */
    ;
    margin-bottom: 0.521vw
        /* 10/19.2 */
    ;
}

ul.why-asnan .service-description p,
ul.why-asnan .service-description,
.welcome-wrapper .welcome-text {
    position: relative;
    display: block;
    font-weight: 300;
    font-size: 1vw
        /* 24/19.2 */
    ;
    letter-spacing: -0.08em;
    line-height: 1.771vw
        /* 34/19.2 */
    ;
    color: #50595c;
    margin-bottom: 0.521vw
        /* 10/19.2 */
    ;
}

.welcome-wrapper .more-text {
    display: none;
}

ul.why-asnan .service-description ul li:before {
    content: '';
    position: absolute;
    top: 0.365vw
        /* 7/19.2 */
    ;
    left: 0;
    background: url(../images/Bullets.svg) center no-repeat;
    background-size: contain;
    width: 0.729vw
        /* 14/19.2 */
    ;
    height: 0.833vw
        /* 16/19.2 */
    ;
}

.department-info-wrapper {
    z-index: 10;
}

.before-after-wrapper .before-after-img img.image-before {
    filter: none;
}


/* Hide the WhatsApp link by default */
#footer-phone-call-btn {
    display: none;
}


/* Base styles (for desktop) */
.job-container {
    width: 79.6vw;
    padding: 2vw 3vw 2.6vw;
    border-radius: 2.3vw;
    box-shadow: 0 1.7vw 5.1vw 0 rgba(82, 89, 92, 0.05);
    border: solid 1px rgba(112, 112, 112, 0.25);
    background-color: #fff;
    margin-bottom: 2vw;
}

.job-container .job-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.25vw;
}

.job-container .job-title {
    font-size: 1.875vw;
    font-weight: 600;
    letter-spacing: -0.14vw;
    color: #50595c;
}

.job-container .job-btn-container .btn-secondary {
    padding: 0.5vw 1.5vw;
}

.job-container .job-description {
    font-size: 1.25vw;
    line-height: 1.67;
    letter-spacing: -0.09vw;
    color: #50595c;
}

.ministry {
    display: block;
    font-size: 0.9375vw;
    margin-top: 0.521vw;
    text-align: end;
    margin: auto 2vw;
    color: #b8c2c4;
    font-family: URWGeometricArabic, Tajawal, Spartan, 'Spartan MB', Arial, sans-serif;
}

.career-form-container {
    box-shadow: 0 1.7vw 5.1vw 0 rgba(82, 89, 92, 0.05);
    border: solid 1px rgba(112, 112, 112, 0.25);
    background-color: #fff;
    border-radius: 2.3vw;
    padding: 2.3vw;
    font-family: Spartan, 'Spartan MB', Arial, sans-serif;
}

#book-form {
    margin-top: 5vw;
    padding-left: 4.454vw;
    padding-right: 4.454vw;
    display: flex;
    flex-direction: row;
}

#book-form form {
    color: black;
}

#book-form .request-appointment-title {
    font-size: 4vw;
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
    .job-container {
        width: 90%;
        padding: 20px;
        border-radius: 15px;
        margin: 0 auto 20px;
    }

    .job-container .job-title {
        font-size: 3vw;
        letter-spacing: -0.5px;
    }

    .job-container .job-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }

    .job-container .job-btn-container .btn-secondary {
        padding: 8px 15px;
        font-size: 14px;
    }

    .job-container .job-description {
        font-size: 16px;
        letter-spacing: -0.3px;
    }

    .ministry {
        font-size: 12px;
        margin: 10px 0;
    }

    .career-form-container {
        border-radius: 15px;
        padding: 20px;
    }
}



/* Show the WhatsApp link only in phone view */
@media screen and (max-width: 768px) {

    .ministry {
        margin-top: 350px;
        font-size: 18px;    
    }

    #footer-phone-call-btn {
        display: block;
        max-width: 200px;
    }

    #footer-whatsapp-call-btn {
        display: none;
    }
    .job-container {
        width: 95%;
        padding: 15px;
        border-radius: 10px;
    }

    .job-container .job-top-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .job-container .job-title {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .job-container .job-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .job-container .job-btn-container .btn {
        width: 100%;
        text-align: center;
    }

    .job-container .job-description {
        font-size: 14px;
        line-height: 1.5;
    }



    .career-form-container {
        border-radius: 10px;
        padding: 15px;
    }
}


@media screen and (max-width: 991px) {
    #book-form {
        flex-direction: column;
        margin-top: 0;
    }
    
    #book-form form {
        color: black;
    }
    
    #book-form .request-appointment-title {
        font-size: 4vw;
        color: white;
    }


    .ministry {
        margin-top: 350px;
        font-size: 18px;    
    }

    .department-info {
        margin-top: 0
    }

    .department-info-wrapper {
        padding-bottom: 0px;
    }

    ul.why-asnan li.service-item .service-info .service-title {
        font-size: 22px;
        line-height: 29px;
        margin-bottom: 30px;
    }

    .navbar .navbar-brand img {
        margin: 0 auto;
    }

    .navbar .navbar-brand {
        display: block;
        padding-top: 0;
        position: relative;
        top: 40px;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }

    .navbar .toggle-menu {
        margin: 20px;
        padding: 20px;
    }

    .welcome-wrapper .welcome-text,
    ul.why-asnan li.service-item .service-info .service-description p,
    ul.why-asnan li.service-item .service-info .service-description,
    ul.why-asnan li.service-item .service-info .service-description ul li {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    ul.why-asnan li.service-item .service-info .service-description ul li {
        padding: 0 15px;
    }

    ul.why-asnan .service-description ul li:before {
        top: 5px;
        width: 10px
            /* 14/19.2 */
        ;
        height: 10px
            /* 16/19.2 */
        ;
    }

    .navbar .top-content .switch-lang {
        display: none;
    }

    .character-content p {
        font-size: 14px
            /* 31/19.2 */
        ;
        line-height: 16px
            /* 43/19.2 */
        ;
        word-spacing: 1px;
    }

    .doctor-description .doctor-title {
        margin: 0px;
    }

    .doctor-card {
        width: 100%;
    }

    .doctor-card .doctor-info {
        margin: 0 auto;
        text-align: center;
    }

    .doctor-card .doctor-info .doctor-university img {
        width: 20px;
    }

    .doctor-card .doctor-info .doctor-university {
        display: flex;
        align-items: center;
    }

    .doctor-card .doctor-img {
        height: 30vh;
    }

    .doctor-card .doctor-info .doctor-university {
        font-size: 12px;
        line-height: 10px;
        margin-bottom: 10px;
    }

    .doctor-card .doctor-info .doctor-name {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }

    .doctor-card .doctor-info .doctor-name:after {
        display: none;
    }

    .doctor-card .btn-primary,
    .btn-secondary {
        height: 40px;
        width: 80%;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
        margin: 15px auto 10px;
    }

    .doctor-card .doctor-info .doctor-title {
        font-size: 10px;
        line-height: 10px;
        margin-bottom: 20px;
    }


    .mission-block .section-title .text-primary.team-page {
        color: var(--color-primary) !important;
    }

    .doctor-description p {
        font-size: 18px;
    }

    .service-item .service-info p {
        font-size: 18px;
        line-height: 24px;
    }

    .teeth-before-after:before {
        top: 15px;
        right: 15px;
        width: 30px;
        height: 24px;
    }

    .doctor-description ul li,
    .doctor-description ol li {
        font-size: 16px;
        line-height: 20px;
        padding-left: 20px;
        margin-bottom: 8px;
    }

    .doctor-description ul li:before {
        top: 6px;
        width: 7px;
        height: 8px;
    }

    .asnanopedia .article-title {
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .asnanopedia .article-title:before {
        width: 100px;
        height: 2px;
        border-radius: 2px;
    }

    .article-wrapper p,
    .service-text {
        font-size: 18px;
        line-height: 24px;
    }

    .asnanopedia-article .title {
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .asnanopedia-article .title:before {
        width: 100px;
        height: 2px;
        border-radius: 2px;
    }

    .asnanopedia-article .brief {
        font-size: 18px;
        line-height: 24px;
    }

    .asnanopedia-article p {
        font-size: 18px;
        line-height: 24px;
    }

    .asnanopedia-article h4 {
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .asnanopedia-article ul li,
    .asnanopedia-article ol li {
        font-size: 18px;
        line-height: 24px;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    .asnanopedia-article ul li:before {
        top: 6px;
        width: 7px;
        height: 8px;
        left: 0px;
    }


    .specialities-wrapper {
        margin-top: 100px;
    }

    .specialities .category-title {
        font-size: 24px !important;
        line-height: 48px
    }

    .specialities-wrapper .category-icon {
        min-width: 150px;
        width: 150px;
    }

    .speciality-services-article .title {
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .speciality-services-article .title:before {
        width: 100px;
        height: 2px;
        border-radius: 2px;
    }

    .speciality-services-article .brief {
        font-size: 18px;
        line-height: 16px;
    }

    .speciality-services-article p {
        font-size: 18px;
        line-height: 24px;
    }

    .speciality-services-article h4 {
        font-size: 22px;
        line-height: 30px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .speciality-services-article ul li,
    .asnanopedia-article ol li {
        font-size: 16px;
        line-height: 20px;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    .speciality-services-article ul li:before {
        top: 6px;
        width: 7px;
        height: 8px;
    }

    .speciality-services-article .article-img {
        width: 300px;
        max-width: 100%;
        max-height: 300px;
        border-radius: 50px;
        margin: 0 auto;
    }

    .speciality-services-article .article-img img {
        min-height: 200px;
    }

    .carousel-control-prev {
        left: -30px;
    }

    .carousel-control-next {
        right: -30px;
    }

    .news-article .title {
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .news-article .title:before {
        width: 100px;
        height: 2px;
        border-radius: 2px;
    }

    .news-article .brief {
        font-size: 18px;
        line-height: 24px;
    }

    .news-article p {
        font-size: 18px;
        line-height: 24px;
    }

    .news-article h4 {
        font-size: 22px;
        line-height: 18px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .news-article ul li,
    .news-article ol li {
        font-size: 18px;
        line-height: 24px;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    .news-article ul li:before {
        top: 6px;
        width: 7px;
        height: 8px;
    }

    .patients-outside-wrapper .bg-img img {
        min-height: 650px;
        object-fit: cover;
    }
}